# Ignorar arquivos temporários e do sistema
*.log
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ignorar diretórios do sistema e builds
build/
builds/
vendor/

# Ignorar cache do CodeIgniter
writable/cache/*
!writable/cache/index.html

# Ignorar testes de código
phpunit.xml.dist

# Ignorar arquivos não desejados no repositório
.gitignore
LICENSE
build.php
composer.lock
preload.php

# Ignorar diretórios e arquivos ocultos (exceto .htaccess e .gitkeep)
.*
!.htaccess
!.gitkeep

# Manter database.sql
!database.sql

# Manter pasta com testes front-end
!front end (tests)/

# Manter o arquivo .env (não ignorar)
