# -------------------
# Sistema Operacional
# -------------------
.DS_Store
Thumbs.db

# -------------------
# Arquivos de Ambiente
# -------------------
.env
.vagrant
Vagrantfile

# -------------------
# Pastas Temporárias do CI4
# -------------------
writable/cache/
writable/logs/
writable/session/
writable/uploads/
writable/debugbar/

# -------------------
# Logs e erros
# -------------------
php_errors.log

# -------------------
# Dependências do Composer
# -------------------
vendor/

# -------------------
# Pastas de Build e Compilados
# -------------------
build/

# -------------------
# IDEs e Editores
# -------------------
.idea/
.vscode/

# -------------------
# Arquivos de Teste
# -------------------
phpunit.xml
.phpunit.result.cache

# -------------------
# Arquivos temporários e backups
# -------------------
*.log
*~